<div class="container">
    <div class="row">
        <div [ngClass]="{'col-xl-6': !seeMore,'col-xl-12': seeMore, 'col-12': true}">
            <img src="{{imagen}}" alt="{{description}}">
            
        </div>       
       <div [ngClass]="{'col-xl-6': !seeMore,'col-xl-12': seeMore, 'col-12': true}">
            <div class="row">
                <div class="col-md-12 mt-4 ml-2">
                    <!-- Inyeción Título -->
                    <h4>{{tittle}}</h4>
                </div>
                <div class="col-md-12 ml-2" *ngIf="!seeMore">
                    <p>
                        <!-- Inyección componente  -->
                        {{shortDescription}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>