//-----------------Variables del Globales-----------------//
$fondo: #f6f5f5;
$letras: #262626; 
$color_boton: #981914;


//-----------------Variables del footer y Nav Bar---------//
$fondo_footer: #0f0f0f;
$color_letras: #f6f5f5;
$enlaces: #b91817;
$campos: rgba(255, 255, 255, 0.5);

//-----------------Variables de slider-----------------//
$color_titulo_slider: #f6f5f5;