@import "../../../assets/scss/variables.scss";

#descripcion{
    width: 480px;
    margin: auto;
    

}
@media only screen and (max-width: 992px) {
    #descripcion{
        width: 100%;
        margin: auto;
    }
}
