<footer class="site-footer" role="contentinfo">
  <div class="container">
      <div class="row">
        
        <div class="col-sm-6" style="float:left; display:block; padding-top: 20px">
          <h3>Información de contacto</h3>
          <span class="">Dirección: </span><span class="text-white">Lucena  </span>
          <span class="">Teléfono: </span><span class="text-white">+34 666 666 666  </span>
          <span class="">Email: </span><span class="text-white">infinity@work.com</span>

          <ul class="list-unstyled footer-link footer-social">
              <a href="https://twitter.com/?lang=es" class="p-1"><span class="fab fa-twitter"></span></a>
              <a href="https://es-es.facebook.com/" class="p-1"><span class="fab fa-facebook"></span></a>
              <a href="https://es.linkedin.com" class="p-1"><span class="fab fa-linkedin"></span></a>
              <a href="https://www.instagram.com/?hl=es" class="p-1"><span class="fab fa-instagram"></span></a>
          </ul>
        </div>

        <div class="col-sm-6 footer-info" style="float:left; display:block; padding-top: 20px">
          <h3>Accesos rápidos</h3>
          <a href="#">Sobre nosotros</a><br>
          <a href="#">Términos de uso</a><br>
          <a href="#">Contacto</a><br><br>
        </div>
      </div>

      <div class="container" align="center">
          <div class="row">
              <div class="col-sm-12 text-sm-center text-center" >
                  <p>&copy;Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados</p>
              </div>
          </div>
      </div>

    </div>
  </footer>
    


