<div class="container-fluid">
<div class="container" id="contacto">
        
  <div class="row">
    <!-- Mapa con ubicación -->
    <div class="col-md-6 maps border border-dark m-0 p-0" > 
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d17927.55342607222!2d-4.477948582228671!3d37.40937028253289!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6d77336f1e30ef%3A0xb4ae1b92a92b9c84!2sCalle+Juego+de+Pelota%2C+54%2C+14900+Lucena%2C+C%C3%B3rdoba!5e0!3m2!1sen!2ses!4v1543487077952" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-md-6" >
      <br>
      <h2 class="text-uppercase font-weight-bold">CONTACTO</h2>
      <form action="" ngNativeValidate>
        <div class="row">
          <div class="col-md-6">
            <!-- Formulario de contacto (Si se deja algún campo en blanco salta un aviso para quue se rellene) -->
            <div class="form-group"> 
              <input type="text" class="form-control mt-2" placeholder="Nombre" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" class="form-control mt-2" placeholder="Email" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="telefono" class="form-control mt-2" placeholder="Teléfono" required>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escriba su mensaje" rows="5" cols="30" required></textarea>
            </div>
          </div>
          <div class="col-12">
          <div class="form-group">
          </div>
          </div>
          <div class="col-12">
            <button class="btn btn-danger" type="submit">Enviar</button><br><br>
          </div>
        </div>
      </form>
      <div>
      
        <!-- Datos de contacto en general -->
        <i class="fas fa-phone" ></i>  +34 666 666 666 <br>
        <i class="fa fa-envelope" ></i>  infwebdiw@gmail.com <br>
        <a href="javier"><i class="fas fa-map-marker-alt" ></i></a>  Lucena <br>
      
      </div>
    </div>

  </div>
        
</div>
</div>