<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of items; first as isFirst" [ngClass]="{'active': isFirst}" background-image: [ngStyle]="{'background-image': 'url(assets/img/ofertas/' + item.image + ')'}">
      <div class="carousel-caption d-md-block">
    <!--<app-ofertas-slider *ngFor="let item of ofertas; first as isFirst" [(esPrimero)]="isFirst"></app-ofertas-slider>
      -->
    <app-ofertas-slider [tittle]=item.tittle [description]=item.description></app-ofertas-slider>

      </div>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" role="button" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" role="button" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
