@import "../../../assets/scss/variables.scss";

#header{
    height: 35vh;
    background-size: cover !important;
    background-image: url('/assets/img/ninstalaciones/bannerInstalaciones.jpg') !important;
    min-height: 188px !important;
    max-height: 220px;
}

video {
	width: 100%;
	height: 100%;
}
.container {
    transform: translatey(-200%)
  }

  #video-container {
	width: 410px;
	height: 310px;
	position: relative;
	text-align: center;
	margin: auto;
	border-style: solid;
}

#video-controls {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(to top, $enlaces 13%, $enlaces 100%);
	background-image: -o-linear-gradient(to top, $enlaces 13%, $enlaces 100%);
	background-image: -moz-linear-gradient(to top, $enlaces 13%, $enlaces 100%);
	background-image: -webkit-linear-gradient(to top, $enlaces 13%, $enlaces 100%);
	background-image: -ms-linear-gradient(to top, $enlaces 13%, $enlaces 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, $enlaces),
		color-stop(1, $enlaces)
	);
}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	height: 30px;
	background: rgba(0,0,0,.5);
	border: 0;
	color: $color_letras;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 250px;
}

#volume-bar {
	width: 50px;
}

h1{
	color: $fondo;
}