.navbar-dark{
    transition:500ms ease;
    background-color: rgb(0, 0, 0,) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  .navbar-dark.scrolled{
    background-color: rgba(0, 0, 0, 1) !important;
  }

  @media screen and (max-width: 992px) {
    .navbar-dark {
      background-color: rgba(0, 0, 0, 1) !important;
    }
  }

  .nav-item{
    text-align: right;
}