.navbar-dark{
    transition:500ms ease;
    background-color: rgb(0, 0, 0,) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 15px;
  }
  .navbar-dark.scrolled{
    background-color: rgba(0, 0, 0, 1) !important;
  }

  