@import "../../../assets/scss/variables.scss";

img {
  width: 270px;
  height: 239px;
}

.button-like {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  text-align: center;
  display: inline-block;
  border: none;
  color: darkgray;
  bottom: 5px;
  right: 5px;

  span {
    margin-left: 0.5rem;
  }

}

.coloredLike {
  color: $enlaces;
}

@media (max-width: 991px) {
    .sched .bg-image, .blog .bg-image {
      height: 200px;
    }
  }