<div class="container mt-2">
    
    <div>
        <img src="{{i.image}}" alt="{{i.description}}">
    </div>       
    
    <div class="row">
        <div class="col-md-12 mt-4 ml-2">
            <!-- Inyeción Título -->
            <h4>{{i.tittle}}</h4>
        </div>
        <div class="col-md-12 ml-2" *ngIf="!seeMore" innerHTML="{{shortDescription}}">
            
                <!-- Inyección componente  -->
                
            
        </div>
        <div class="col-md-12 col-12 ml-2">
            
            <div *ngIf="seeMore" innerHTML="{{i.description}}"></div>
            <div class="row">
                <div class="col-7">
                    <button class="btn btn-danger" *ngIf="!seeMore" (click)="toogleSeeMore()" mat-raised-button>Mostrar Más</button>
                    <button class="btn btn-danger" *ngIf="seeMore" (click)="toogleSeeMore()" mat-raised-button>Mostrar menos</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Botón Like -->
    <button *ngIf="logged"  [ngClass]="{'coloredLike': liked}"  id="{{this.i.id}}" class="button button-like" (click)="contador(this.i.id)">
        {{this.numLikes}}
        <i class="fa fa-heart"></i>
        <span>Me gusta</span>
    </button>&nbsp;
    <!-- Fin botón Like -->

</div>