<div class="container">
    <div class="row">
        <div class="bg-image" [style.backgroundImage]="'url('+ imagen +')'" [style.width]="'20em'">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{title}}</h4>
                </div>
                <div class="col-md-12">
                    <p>
                        {{description}}
                    </p>
                </div>
                <div class="col-md-12">
                    <button mat-raised-button>Leer Más...</button>
                </div>
            </div>
        </div>

    </div>

</div>