<div id="header"></div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Nuevo Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Modificar Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Gestión de usuarios</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row justify-content-center mt-1">
          <form ngNativeValidate class="">
            <label>Sección: </label><select #newsection class="ml-2">
              <option value="ninstalaciones">Instalaciones</option>
              <option value="noticias">Noticias</option>
              <option value="cursos">Cursos</option>
            </select> <br>
            <label class="mt-2">Título: </label><input class="ml-2" type="text" #newtittle required> <br>
            
            <label class="mt-2">Descripción:</label><br><textarea rows="4" cols="50" type="text" #newdescription required></textarea> <br>
            <div class="container-fluid mt-4">
              <span class="nuestroinput">
                <label for="nuestroinput"><i class="fas fa-upload"></i><span class="nuestroinput" id="mensaje"> Requiere imagen</span></label><br>     
              </span>
              <span class="nuestroinput">
                <input id="nuestroinput" type="file" (change)="getFile($event)" required><br>
              </span>
              <button type="submit" (click)="addItem(newsection.value,newtittle.value,newdescription.value,newsection.value)"  class="btn btn-danger mt-1" false>Crear nuevo</button> 
            </div>
          </form>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row justify-content-center">            
            <form>
              <label>Sección:</label><select class="ml-2" #section>
                <option value="recursos">Recursos</option>
                <option value="ninstalaciones">Instalaciones</option>
                <option value="noticias">Noticias</option>
                <option value="cursos">Cursos</option>
              </select> <br>
              <label class="mt-2">Título:</label><input class="ml-2" type="text" #tittle  required>
            </form> 
          <div>
            <button class="btn btn-danger mt-2" (click)="getItem(section.value,tittle.value)">Buscar</button>
          </div>
        </div>
          <div class="row">
            <div class="col-3"></div>
            <div *ngIf="item" class="col-6 mt-2 card">
              <app-editable-item [i]=this.item [origen]=section.value></app-editable-item>         
            </div>
            <div class="col-3"></div>
          </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>





<!-- 
  <div class="container mt-5 text-center">
  <h2>El usuario es admin: {{isAdmin}}</h2>
  <br>
  <div style="display: inline-block">  
    <button (click)="toggleContenido()" class="ml-2 mt-3 btn btn-danger" >Contenido</button>
    <button (click)="toggleUsuarios()" class="ml-2 mt-3 btn btn-danger" >Usuarios</button>
  </div>
  <div class="row">

    <div *ngIf="contenido" class="col-12"  id="contenido">
      <div class="row mt-5">
        
        <div class="col-6">
          <form ngNativeValidate class="">
            <label>Sección:</label><br><select #newsection>
              <option value="ninstalaciones">Instalaciones</option>
              <option value="noticias">Noticias</option>
              <option value="cursos">Cursos</option>
            </select> <br>
            <label class="mt-2">Título:</label><br><input type="text" #newtittle required> <br>
            
            <label class="mt-2">Descripción:</label><br><textarea rows="4" cols="50" type="text" #newdescription required></textarea> <br>
            <div class="container-fluid mt-4">
              <span class="nuestroinput">
                <label for="nuestroinput"><i class="fas fa-upload"></i><span class="nuestroinput" id="mensaje"> Requiere imagen</span></label><br>     
              </span>
              <span class="nuestroinput">
                <input id="nuestroinput" type="file" (change)="getFile($event)" required><br>
              </span>
               <button (click)="uploadFile()" >Subir archivo</button> 
              <button type="submit" (click)="addItem(newsection.value,newtittle.value,newdescription.value,newsection.value)"  class="btn btn-danger mt-1" false>Crear nuevo</button> 
            </div>
          </form>
        </div>
        <div id="kjsahdka" class="col-6">
          <div class="col-12 mt-3">
            <form>
              <label>Sección:</label><br><select #section>
                <option value="recursos">Recursos</option>
                <option value="ninstalaciones">Instalaciones</option>
                <option value="noticias">Noticias</option>
                <option value="cursos">Cursos</option>
              </select> <br>
              <label class="mt-2">Título:</label><br><input type="text" #tittle  required> <br>
            </form>
            <button (click)="getItem(section.value,tittle.value)">Buscar</button>
              <div *ngIf="item" class="col-12 card">
                <app-editable-item [i]=this.item [origen]=section.value></app-editable-item>         
              </div>
          </div>
          </div>
      </div>
      
    </div>
      
    <div *ngIf="usuarios"  class="col-12 mt-5" id="usuarios">
      <div class="row">
        
      
    </div>
  </div>  
</div>
  
  
   -->