@import "../../../assets/scss/variables.scss";

#header{
    height: 12vh;
    // min-height: 188px !important;
    // max-height: 220px;
    @media only screen and (max-width: 992px) {
      height: 15vh;
  }
}

#scroll{
  height: 60vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}





input[type="file"]#nuestroinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }

    label[for="nuestroinput"] {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        background-color: $color_boton;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
        padding: 15px 40px !important;
        text-transform: uppercase;
        width: fit-content;
        text-align: center;
        }