<div class="container mt-5">
  <br>
  <form class="mt-5">
    <label>Sección</label><select #section>
                            <option value="tienda">Tienda</option>
                            <option value="ninstalaciones">Instalaciones</option>
                            <option value="noticias">Noticias</option>
                            <option value="tienda">Tienda</option>
                          </select> <br>
    <label>Título</label><input type="text" #tittle> <br>
    <label>Imagen</label><input type="text" #imagen>  <br>
    <label>Descripción</label><input type="text" #description> <br>
  </form>
  <button (click)="addItem(section.value,tittle.value,imagen.value,description.value)" class="mt-5" false>Crear nuevo</button>
  
  

</div>

